<br>
<div class="container">
  <section class="jumbotronHeader col-md-12 mb-4 jumbotron  justify-content-center text-center" >
    <h3 class="font-weight-bold"> HEADQUARTER ADMINISTRATION</h3>
</section>
</div>

<div class="container">

  <div class="row justify-content-end">
    <div class="col-sm-8 col-md-4 mt-3 ">
      <input type="text" class="form-control" placeholder="Search" value="search" required="">
    </div>
    <div class="col-sm-8 col-md-6 mt-3 ">
      <button type="button" class="btnAdd btn btn-primary"  data-toggle="modal" data-target="#addHeadquarter">
        <strong>NEW HEADQUARTER</strong>
      </button>
    </div>
  </div>

  <br>

  <table class="table table-bordered table-hover table-responsive-lg mt-5 ml-2 mr-2">
    <thead class="tableThead thead">
      <tr>
        <th scope="col" >ID</th>
        <th scope="col">NAME</th>
        <th scope="col">COUNTRY</th>
        <th scope="col">CITY</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let headquarter of headquarters ">
        <td > {{headquarter.id_headquarter}}</td>
        <td > {{headquarter.name}}</td>
        <td > {{headquarter.country}}</td>
        <td > {{headquarter.city}}</td>
        <td>
          <button class="btn-edit btn btn-block btn-outline-primary" id="" data-toggle="modal" data-target="#editHeadquarter"><strong>EDIT</strong></button>
          <button class="btn-delete btn btn-block btn-outline-danger" id="" data-toggle="modal" data-target="#deleteHeadquarter"><strong>DELETE</strong></button>
        </td>
      </tr>
    </tbody>
  </table>

 
<!--Modal add headquarter-->
<div class="modal" id="addHeadquarter" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " >ADD HEADQUARTER</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #registerVehicleForm=ngForm (ngSubmit)="onSubmit()" class="form-row justify-content-sm-center">
                <div class="form-group col-md-12">
                        <label>NAME</label>
                        <input type="text"  class="form-control" required >
                </div>
                <div class="form-group col-md-12">
                        <label>COUNTRY</label>
                        <input type="text"  class="form-control" required >
                </div>
                <div class="form-group col-md-12">
                  <label>CITY</label>
                  <input type="text"  class="form-control" required >
                </div>
        </form>
        </div>
        <div class="modal-footer">
            <div class="col-md-6">
                <button type="submit" class="btnAdd btn btn-block btn-outline-secondary"><i class="fas fa-plus-square"></i> ADD</button>
            </div>
        </div>
      </div>
    </div>
  </div>



<!--Modal edit headquarter-->
<div class="modal fade" id="editHeadquarter" tabindex="-1" role="dialog" aria-labelledby="editHeadquarter" aria-hidden="true">
  <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                  <section  class="jumbotronHeaderModal col-md-12 pb-5 pt-5 jumbotron  justify-content-center text-center ">
                          <h3 class="modal-title"> <i class="fas fa-edit"></i> EDIT HEADQUARTER</h3>
                  </section>
            </div>
            <div class="modal-body">
                  <form class="form-row justify-content-sm-center">
                          <div class="form-group col-md-12">
                                  <label>Name</label>
                                  <input type="text"  class="form-control" required >
                          </div>
                          <div class="form-group col-md-12">
                                   <label>COUNTRY</label>
                                    <input type="text"  class="form-control" required >
                          </div>
                          <div class="form-group col-md-12">
                                  <label>CITY</label>
                                   <input type="text"  class="form-control" required >
                         </div>
                          <div class="col-md-6">
                                  <button type="submit" class="btnEditZone btn btn-block btn-outline-secondary"><i class="fas fa-plus-square"></i> MODIFY</button>
                          </div>
                  </form>
            </div>
          </div>
  </div>
</div>
</div>
