
/*jumboytons*/
#jumbotronHeader{
	color: #EF4023;/*color de letra*/
	background-color: F2F2F2;
}
/*buttons*/
#btnAdd{
    background-color: #fff;
    color:#454685;
    border-color: #454685;
}
#btnAdd:hover{
	color: white;
	background-color: #454685;
}
#btn-edit:hover{
	color: white;
	background-color: #00ACCF;
}
#btn-delete:hover{
	color: white;
	background-color: #EF4023;
}

/*table*/
#tHead{
    background-color: #2F2D46;
    color:#fff;
}
#text{
    font-family: "Open Sans"; 
    font-style: normal; 
    font-weight: 800; 
}
