<button class="botonF1" routerLink="/dashboard">
    <span><i class="fas fa-arrow-left    "></i></span>
</button>
<div class="container">
    <br> <br> <br><br><br>
    <div class="row ">
        <div class="col-md-8">
            <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead class="tableThead thead">
                  <tr>
                    <th scope="col"><strong>HOUR</strong></th>
                    <th scope="col"><strong>ZONE</strong></th>
                    <th scope="col"><strong>AVAILABLE SPACES</strong></th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-4">
            <label>MY RESERVATION</label>
            <table class="table table-bordered table-hover ">
                <thead class="tableThead thead">
                  <tr>
                    <th scope="col"><strong>VEHICLE</strong></th>
                    <th scope="col"><strong>TIME</strong></th>
                    <th scope="col"><strong>SPACE</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td><select class="custom-select" name="vehicle" 
                        required [(ngModel)]="formAddReserve.vehicle">
                        <option selected>Choose...</option>
                        <option value="{{vehicle.increment}}" *ngFor="let vehicle of vehicles">{{vehicle.license_plate}}</option>
                      </select></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
           
            <button class="btn btn-delete btn-block btn-outline-danger"
            >
            <strong>RESERVE</strong>
    </button>
        </div>
      </div>

</div>