<section id="jumbotronHeader" class="col-md-12 mb-4 jumbotron  justify-content-center text-center" >
    <h3 class="font-weight-bold"><i class="fas fa-car"></i><i class="fas fa-address-book"></i> SPACE ADMINISTRATION</h3>
</section>
<div class="container">
<div class="row ">
      <div class="col-sm-2 col-md-4 mt-3">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
      <div class="col-sm-2 col-md-2 mt-3">
                <button class="btn btn-outline-secondary" id="btn-search">
                    <i class="fas fa-search"></i>
                </button>
    </div>
    <div class="col-sm-8 col-md-6 mt-3">
        <div>
            <!--Modal button of add space-->
            <button class="btn btn-block btn-outline-secondary text-uppercase" id="btn-add" 
            data-toggle="modal" data-target="#addSpace">
                <i class="fas fa-plus-square"></i> Add Zone
            </button>
        </div>	
    </div>
    <div class="col-md-6 mt-2">
        <label>Headquarters</label>
            <select class="custom-select">
                <option selected>Choose...</option>
                <option value="1">San José</option>
                <option value="2">Liberia</option>
                <option value="3">peru</option>
            </select>
    </div>
    <div class="col-md-6 mt-2">	
            <label>Headquarters</label>
            <select class="custom-select">
                <option selected>Choose...</option>
                <option value="1">San José</option>
                <option value="2">Liberia</option>
                <option value="3">peru</option>
            </select>
    </div>
    
    <table class="table table-striped table-responsive-lg mt-5 ml-2 mr-2">
          <thead>
            <tr class="text-light " id="table">
              <th scope="col">ID</th>
              <th scope="col">Space Name</th>
              <th scope="col">Type</th>
              <th scope="col">State</th>
              <th scope="col">User</th>
              <th scope="col">Zone</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>01</td>
              <td>Vehicle</td>
              <td>AVIABLE</td>
              <td>Unknown</td>
              <td>A</td>
              <td>
                  <button class="btn btn-block btn-outline-primary" id="btn-edit"
                  data-toggle="modal" data-target="#editSpace">
                      <i class="fas fa-angle-double-right"></i>
                    Editar
                  </button>
                  <button class="btn btn-block btn-outline-danger" id="btn-delete">
                      <i class="fas fa-trash-alt"></i>
                        Eliminar
                      </button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>02</td>
              <td>Vehicle</td>
              <td>AVIABLE</td>
              <td>Unknown</td>
              <td>A</td>
              <td>
                  <button class="btn btn-block btn-outline-primary" id="btn-edit">
                      <i class="fas fa-angle-double-right"></i>
                    Editar
                  </button>
                  <button class="btn btn-block btn-outline-danger" id="btn-delete">
                      <i class="fas fa-trash-alt"></i>
                        Eliminar
                      </button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>03</td>
              <td>Vehicle</td>
              <td>AVIABLE</td>
              <td>Unknown</td>
              <td>A</td>
              <td>
                  <button class="btn btn-block btn-outline-primary" id="btn-edit">
                      <i class="fas fa-angle-double-right"></i>
                    Editar
                  </button>
                  <button class="btn btn-block btn-outline-danger" id="btn-delete">
                      <i class="fas fa-trash-alt"></i>
                        Eliminar
                      </button>
              </td>
            </tr>

          </tbody>
    </table>
    <!--Modal Add Space-->
    <div class="modal fade" id="addSpace" tabindex="-1" role="dialog" aria-labelledby="addSpace" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                            <section id="jumbotronHeaderModal" class="col-md-12 mb-4 jumbotron  justify-content-center text-center" >
                                    <h3 class="modal-title"> <i class="fas fa-plus-square"></i> ADD SPACE</h3>
                            </section>
                      </div>
                      <div class="modal-body">
                        <form class="form-row justify-content-sm-center">
                                <div class="form-group col-md-12">
                                        <label>Space Name</label>
                                        <input type="text"  class="form-control" required >
                                </div>
                                <div class="form-group col-md-12">
                                        <label>Type</label>
                                        <select class="custom-select">
                                                <option selected>Choose...</option>
                                                <option value="1">Vehicle</option>
                                                <option value="2">Special</option>
                                        </select>
                                </div>
                                <div class="form-group col-md-12">
                                        <label>State</label>
                                        <select class="custom-select">
                                                <option selected>Choose...</option>
                                                <option value="1">Aviable</option>
                                                <option value="2">Occupied</option>
                                        </select>
                                </div>
                                <div class="form-group col-md-12">
                                        <label>user</label>
                                        <input type="text"  class="form-control" required >
                                </div>
                                <div class="form-group col-md-12">
                                        <label>Zone</label>
                                        <select class="custom-select">
                                                <option selected>Choose...</option>
                                                <option value="1">A</option>
                                                <option value="2">B</option>
                                        </select>
                                </div>
                                <div class="col-md-6">
                                        <button type="button" class="btn btn-block btn-outline-danger " data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-md-6">
                                        <button type="submit" class="btn btn-block btn-outline-secondary" id="btnAddSpace"><i class="fas fa-plus-square"></i> Add</button>
                                </div>
                        </form>
                      </div>
                    </div>
            </div>
    </div>
    <!--Modal Edit Space-->
    <div class="modal fade" id="editSpace" tabindex="-1" role="dialog" aria-labelledby="editSpace" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                            <section id="jumbotronHeaderModal" class="col-md-12 mb-4 jumbotron  justify-content-center text-center" >
                                    <h3 class="modal-title"> <i class="fas fa-edit"></i> EDIT SPACE</h3>
                            </section>
                      </div>
                      <div class="modal-body">
                        <form class="form-row justify-content-sm-center">
                                <div class="form-group col-md-12">
                                        <label>Space Name</label>
                                        <input type="text"  class="form-control" required >
                                </div>
                                <div class="form-group col-md-12">
                                        <label>Type</label>
                                        <select class="custom-select">
                                                <option selected>Choose...</option>
                                                <option value="1">Vehicle</option>
                                                <option value="2">Special</option>
                                        </select>
                                </div>
                                <div class="form-group col-md-12">
                                        <label>State</label>
                                        <select class="custom-select">
                                                <option selected>Choose...</option>
                                                <option value="1">Aviable</option>
                                                <option value="2">Occupied</option>
                                        </select>
                                </div>
                                <div class="form-group col-md-12">
                                        <label>user</label>
                                        <input type="text"  class="form-control" required >
                                </div>
                                <div class="form-group col-md-12">
                                        <label>Zone</label>
                                        <select class="custom-select">
                                                <option selected>Choose...</option>
                                                <option value="1">A</option>
                                                <option value="2">B</option>
                                        </select>
                                </div>
                                <div class="col-md-6 col-sm-2">
                                        <button type="button" class="btn btn-block btn-outline-danger " data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-md-6 col-sm-2">
                                        <button type="submit" class="btn btn-block btn-outline-secondary" id="btnEditSpace"><i class="fas fa-plus-square"></i> Edit</button>
                                </div>
                        </form>
                      </div>
                    </div>
            </div>
    </div>
    
</div>	
</div>
