<div class="container">
    <br> <br> <br>
    <div class="row ">
        <div class="col-md-10">
            <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead class="tableThead thead">
                  <tr>
                    <th scope="col"><strong>HOUR</strong></th>
                    <th scope="col"><strong>MONDAY</strong></th>
                    <th scope="col"><strong>TUESDAY</strong></th>
                    <th scope="col"><strong>WEDNESDAY</strong></th>
                    <th scope="col"><strong>THURSDAY</strong></th>
                    <th scope="col"><strong>FRIDAY</strong></th>
                    <th scope="col"><strong>SATURDAY</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>7-8</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> <button class="btn btn-delete btn-block btn-outline-danger" routerLink="/reserves">
                        <strong>RESERVE</strong></button>
                    </td>
                    <td valign="middle" style="vertical-align:middle;"
                    class="m-auto p-auto justify-content-center">
                        <button class="m-auto p-auto btn btn-block text-primary"
                         routerLink="/reserves">
                        <i class="fas fa-eye fa-lg" style="width:12; height:12;"></i>
                </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-2">
            <label>CURRENT LOCATION</label>
            <select class="custom-select" id="inputGroupSelect04" name="headquarter" required
            [(ngModel)]="userInf.headquarter" aria-label="">
            <option selected="true" *ngIf="current !=null" >Current
                {{current}}
            </option>
            <option value="{{headquarter.id_headquarter}}" *ngFor="let headquarter of headquarters">{{headquarter.name}} {{headquarter.city}}
                {{headquarter.country}}</option>
        </select>
            <label>PARKING LOT</label>
            <select class="custom-select" name="parking lot" required 
            [(ngModel)]="formReserve.parking">
            <option selected>Choose...</option>
            <option value="{{parking.id_parking_lot}}" *ngFor="let parking of parkings">{{parking.id_parking_lot}} {{parking.name}}</option>
          </select>
            <label>ZONE</label>
            <select class="custom-select" name="headquarter" required
               [(ngModel)]="formReserve.zone">
              <option selected>Choose...</option>
              <option value="{{zone.id_zone}}" *ngFor="let zone of zones">{{zone.parking_lot.name}} {{zone.name}}</option>
            </select><br><br>
            <button class="btn btn-delete btn-block btn-outline-danger"
            >
            <strong>MY RESERVATIONS</strong>
    </button>
        </div>
      </div>
</div>