.btnAddZone{
    background-color: #fff;
    color: #89CA8E;
    border-color: #89CA8E;
    
}
.btnEditZone{
	background-color: #fff;
    color: #00ACCF;
    border-color: #00ACCF;
}

.btnAddZone:hover{
    color: white;
    background-color: #89CA8E;
}
.btnEditZone:hover{
    color: white;
	background-color: #00ACCF; 
}