<div class="login" *ngIf="!loggedIn">
    <div class="row justify-content-center mb-5">
      <div class="col-sm-8 col-xs-8 col-md-8 col-lg-4">
        <div class="card mt-5">
          <div class="card-body">
            <form #loginForm=ngForm (ngSubmit)="onSubmit()" >
              <h3 class="text text-center text-white"><strong>WELCOME TO AVANTIPARKING</strong></h3><br>
              <p class="tabindex-script white-text">It is a parking manager for the company Avantica. <br>
                So you can reserve the parking of your vehicle.</p>
              <div class="form-group">
                <div class="col-12">
                  <a class="btnLogin btn btn-primary btn-block" href="{{GOOGLE_AUTH_URL}}">
                    <strong>LOG IN</strong>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="loggedIn && type">
    <div class="row menu login justify-content-center">
      <div class="col-md-10 container">
        <div class="box" routerLink="/vehicle">
          <div class="content" >
            <img src="assets/car.png" width="100" alt="">
            <p>Check all the actions of your vehicles. </p>
          </div>
        </div>
        <div class="box" routerLink="/reserve">
          <div class="content" >
            <img  src="assets/month.png" width="100" alt="">
            <p>Check out the reservations!. </p>
          </div>
        </div>
        <div class="box" routerLink="/administration/parking-lot">
          <div class="content" >
            <img src="assets/parking.png" width="100" alt="">
            <p>Interact with parking. </p>
          </div>
        </div>
        <div class="box" routerLink="/administration/headquarter">
          <div class="content" >
            <img src="assets/placeholder.png" width="100" alt="">
            <p>View and configure all headquarters. </p>
          </div>
        </div>
        <div class="box" routerLink="/reports">
          <div class="content" >
            <img src="assets/reports.png" width="100" alt="">
            <p>Have all the reports at hand. </p>
          </div>
        </div>
        <div class="box" routerLink="/administration/zone">
          <div class="content" >
            <img src="assets/zone.png" width="100" alt="">
            <p>View and configure all zone. </p>
          </div>
        </div>
        <div class="box" routerLink="/administration/user">
          <div class="content" >
            <img src="assets/employee.png" width="100" alt="">
            <p>assign or modify roles. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login" *ngIf="loggedIn && !type">
      <div class="row justify-content-center mb-5">
        <div class="col-sm-8 col-xs-8 col-md-8 col-lg-4">
          <div class="card mt-5">
            <div class="card-body">
              <form #loginForm=ngForm (ngSubmit)="onSubmit()" >
                <h3 class="text text-center text-white"><strong>WELCOME TO AVANTIPARKING</strong></h3><br>
                <p class="tabindex-script white-text">It is a parking manager for the company Avantica. <br>
                  So you can reserve the parking of your vehicle.</p>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>