<div class="grid-block img-fluid">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mx-auto my-auto ">
        <form #loginForm=ngForm (ngSubmit)="onSubmit()" class="form-container">
            <h3 class="text text-center text-white"><strong>WELCOME TO AVANTIPARKING</strong></h3><br>
            <p class="tabindex-script white-text">It is a parking manager for the company Avantica. <br>
                So you can reserve the parking of your vehicle.</p>
            <br>
            <br>
            <div class="form-group row">
                <div class="col-12">
                    <a class="btnLogin btn btn-primary btn-block" href="{{GOOGLE_AUTH_URL}}">
                        <strong>LOG IN</strong>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>