<div class="container">
    <br>
    <section class="jumbotronHeader col-md-12 mb-4 jumbotron  justify-content-center text-center">
      <h3 class="font-weight-bold">MY RESERVES</h3>
    </section>
   <div class="row justify-content-center">
      <div class="col-md-10 ">    
        <div class="table-responsive">
  
            <table class="table table-bordered table-hover ">
                <thead class="tableThead thead">
                  <tr >
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let detail of detailValid ">
                      <div class="card text-center " style="width: 18rem;">
                        <div class="card-header text-white rounded pb-5 text-center">
                            <h3 class="card-header-title pt-3"><strong>DATE</strong></h3>
                        </div>
                        <div class="card-body"> 
                          
                          <p class="card-text"><strong>DATE: </strong>{{detail.date}} </p>
                          <p class="card-text"><strong>SPACE: </strong>{{detail.space.name}} </p>
                          <p class="card-text"><strong>TIME: </strong>{{detail.start_time}} - {{detail.end_time}} </p>
                          <p class="card-text"><strong>VEHICLE: </strong>{{reserva.vehicle.license_plate}} </p>
                          <p class="card-text"><strong>CREATED: </strong>{{reserva.created_at}} </p>
                         
                         
                          <button class="btn btn-delete btn-block btn-outline-danger" (click)="deleteParkingLot(parking.id_parking_lot)">
                              <i class="fas fa-trash-alt"></i>
                            <strong>CANCEL</strong></button>
                        </div>
                      </div>
                    </td>
                      </tr>
                    </tbody>
                  </table>
       </div>
   </div>
</div>
    