<!-- Footer -->
<footer class="page-footer font-small blue pt-4 footerColor">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row justify-content-center">
     
      <div class="col-md-4 mt-md-0 mt-3 text-center">
        <a class="navbar-brand" routerLink="/">
          <img src="https://www.avantica.net/hubfs/Logos%20Update%20Fusion%20Dec19/ENG/logo-eng-Blanco.png" width="210" id="logo">
      </a>
              <h2 class="mt-5 mb-5 letraFooter">Avantica Technologies</h2>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase letraFooter">Contact us</h5>

        <ul class="list-unstyled letraFooter">
          <li>
            <p>info@avantica.net+1 650-641-31-34.</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase letraFooter">Social networks</h5>

        <ul class="list-unstyled">
          <li>
              <div class="socialMedia ">
                  <a class="btn-floating btn-large waves-effect waves-light" target="_blank"
                      href="https://www.facebook.com/AvanticaTechnologies?__hstc=59161970.fdfdf03d778926c960c49fc83534edba.1460006850503.1460014360609.1460100448262.3&amp;__hssc=59161970.1.1460100448262&amp;__hsfp=1609217652"
                      aria-label="Facebook (opens New Window)">
                      <i class="fab fa-facebook fa-lg fa-2x" style="color:#FFFFFF; margin: 5px; height:6 !important;" aria-hidden="true"></i>
                  </a>
                  <a class="btn-floating btn-large waves-effect waves-light" target="_blank"
                      href="https://www.linkedin.com/company/avantica-technologies?__hstc=59161970.fdfdf03d778926c960c49fc83534edba.1460006850503.1460014360609.1460100448262.3&amp;__hssc=59161970.1.1460100448262&amp;__hsfp=1609217652"
                      aria-label="Linkedin (opens New Window)">
                      <i class="fab fa-linkedin fa-lg fa-2x" style="color:#FFFFFF; margin: 5px; height:6 !important;" aria-hidden="true"></i>
                  </a>
                  <a class="btn-floating btn-large waves-effect waves-light" target="_blank"
                      href="https://twitter.com/avantica?__hstc=59161970.fdfdf03d778926c960c49fc83534edba.1460006850503.1460014360609.1460100448262.3&amp;__hssc=59161970.1.1460100448262&amp;__hsfp=1609217652"
                      aria-label="Twitter (opens New Window)">
                      <i class="fab fa-twitter-square fa-lg fa-2x" style="color:#FFFFFF; margin: 5px; height:6 !important;" ></i>
                  </a>
                  <a class="btn-floating btn-large waves-effect waves-light" target="_blank"
                      href="https://www.instagram.com/avanticatech/" aria-label="Instagram (opens New Window)">
                      <i class="fab fa-instagram fa-lg fa-2x" style="color:#FFFFFF; margin: 5px; height:6 !important;" ></i>
                  </a>
                  <a class="btn-floating btn-large waves-effect waves-light" target="_blank"
                      href="https://www.avantica.net/blog?hsLang=en-us" data-href="https://www.avantica.net/es/blog"
                      aria-label="Blog (opens New Window)">
                      <i class="fas fa-wifi fa-lg fa-2x" style="color:#FFFFFF; margin: 5px; height:6 !important;" ></i>
                  </a>
                  <a class="btn-floating btn-large waves-effect waves-light" target="_blank"
                      href="https://www.youtube.com/user/avanticatec" data-href="https://www.youtube.com/user/avanticatec"
                      aria-label="Youtube (opens New Window)">
                      <i class="fab fa-youtube-square fa-lg fa-2x" style="color:#FFFFFF; margin: 5px; height:6 !important;" ></i>
                  </a>
              </div>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <div class="footer-copyright text-center py-3 letraFooter"><p class="text-center" id="text">Group Avantica, Inc. All Rights Reserved.</p>
  </div>
</footer>