<footer class="footer fixed-bottom navbar-dark _bottom">
    <div class="socialMedia center-align">
       
        <a class="nav-link" href="">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-wifi"></i>
                <i class="fab fa-youtube"></i>
        </a>

    </div>
    <div class="text-center">
        <p class="text-center" id="text">Group Avantica, Inc. All Rights Reserved.</p>
    </div>
</footer>