<!--<div class="grid-block img-fluid" >
    <div class="hero-content">
        <h1 id="main" class="white-text" ><span>WELCOME TO AVANTIPARKING</span></h1>
        <p class="tabindex-script white-text">It is a parking manager for the company Avantica. <br>
            So you can reserve the parking of your vehicle.</p>
        <button type="button" class="btnLogin btn btn-primary btn-block">
            <strong>LOG IN</strong>
        </button>
    </div>
</div>
CSS

.grid-block{
    margin: 0;
    min-height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(70deg, black, white);
}
.grid-block::before{
    width: 100%;
    min-height: 90vh;
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    position: absolute;
}
.btnLogin{
    background: none;
    color: white;
    border-color: white;
    
}
.btnLogin:hover{
    background: white;
    color:  #454685;
}
p{
    color: white;
    position: relative;
}
h1{
    color: white;
    position: relative;
}
.hero-content{
    position: relative;
    top: 2vh;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: 40px;
    margin-top: 40px; 
    color: white;
}

-->
<div class="img-fluid">
    <div class="">
        <h1 id="" class="text-black"><span>WELCOME TO AVANTIPARKING</span></h1>
        <p class=" text-black">It is a parking manager for the company Avantica. <br>
            So you can reserve the parking of your vehicle.</p>
        <a class="btnLogin btn btn-primary btn-block" href="{{GOOGLE_AUTH_URL}}">
            <strong>LOG IN</strong>
        </a>
    </div>
</div>