<div class="container">
    <div class="row mb-5 justify-content-center">
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                    <img src="/assets/parking.jpg" class="card-img-top" alt="...">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title">PARKING LOT</h5>
                    <p class="card-text">Go to the parking administration and configure it</p>
                    <a routerLink="/administration/parking-lot" class="btn btn-edit btn-outline-primary"><strong>GO TO PARKING</strong> </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                    <img src="/assets/headquarter.jpg" class="card-img-top" alt="...">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title">HEADQUARTER</h5>
                    <p class="card-text">Go to the headquarter administration and configure it</p>
                    <a routerLink="/administration/headquarter" class="btn btn-edit btn-outline-primary"><strong>GO TO HEADQUARTER</strong></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                    <img src="/assets/zone.jpg" class="card-img-top" alt="...">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title">ZONES</h5>
                    <p class="card-text">Go to the zone administration and configure it</p>
                    <a routerLink="/administration/zone" class="btn btn-edit btn-outline-primary"><strong>GO TO ZONE</strong></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                    <img src="/assets/space.jpg" class="card-img-top" alt="...">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title">SPACES</h5>
                    <p class="card-text">Go to the space administration and configure it</p>
                    <a routerLink="/administration/space" class="btn btn-edit btn-outline-primary"><strong>GO TO SPACE</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>